{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 70,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "insertPragma": false,
  "requirePragma": false,
  "useTabs": false
}
